<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9bd5b0">  <td>18/10/21 18:51:27</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:week4.day2.TC001CreateLead@4e1d422d]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@727001376</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/10/21 18:51:28</td>   <td>686</td> <td>&nbsp;</td><td title="&gt;&gt;TC001CreateLead.setData()[pri:0, instance:week4.day2.TC001CreateLead@4e1d422d]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@727001376</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/10/21 18:51:29</td>   <td>1982</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week4.day2.TC001CreateLead@4e1d422d]">createLead</td> 
  <td>main@727001376</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/10/21 18:51:29</td>   <td>2013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week4.day2.TC001CreateLead@4e1d422d]">createLead</td> 
  <td>main@727001376</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/10/21 18:51:29</td>   <td>2013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week4.day2.TC001CreateLead@4e1d422d]">createLead</td> 
  <td>main@727001376</td>   <td></td> </tr>
</table>
