<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aed9f0">  <td>18/10/21 20:31:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterClass()[pri:0, instance:week4.day2.TC002EditLead@52a86356]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/21 20:31:04</td>   <td>26</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:week4.day2.TC002EditLead@52a86356]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/21 20:31:04</td>   <td>2</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:week4.day2.TC002EditLead@52a86356]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/21 20:28:07</td>   <td>-176881</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:week4.day2.TC002EditLead@52a86356]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/21 20:31:02</td>   <td>-2089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week4.day2.TC002EditLead@52a86356]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/21 20:30:02</td>   <td>-61894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002EditLead.editLead(java.lang.String, java.lang.String)[pri:0, instance:week4.day2.TC002EditLead@52a86356]">editLead</td> 
  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/21 20:28:08</td>   <td>-175969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week4.day2.TC002EditLead@52a86356]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/21 20:28:08</td>   <td>-176695</td> <td>&nbsp;</td><td title="&gt;&gt;TC002EditLead.setData()[pri:0, instance:week4.day2.TC002EditLead@52a86356]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
</table>
